

#categories{
	text-decoration:none;
	margin:0px;
	width:20%;
	float:left;
}

#categories ul ul{
	display:none;
}

#categories ul li:hover > ul {
		display: block;
		background:red;
		width:60px;
		list-style-type:none;
	}
	
#categories ul:after {
		content: ""; clear: both; display: block;
	}
	
